DB_NAME=notifyhub
DB_URL=jdbc:postgresql://localhost:5432/${DB_NAME}
DB_USERNAME=postgres
DB_PASSWORD=change_me
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change_me
